@import '_parallax';
@import '_isotope';
@import '_arrow';


.hidden{
     opacity:0;
}
.visible{
     opacity:1;
}

.animation1 { animation-iteration-count: 1;-webkit-animation-iteration-count: 1; }

